name: send-patch

on:
  schedule:
    - cron: "*/8 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Cache Playwright
      - name: Cache Playwright
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: playwright-Linux

      # Cache last_sent.txt (RESTORE)
      - name: Restore last_sent cache
        uses: actions/cache@v4
        with:
          path: last_sent.txt
          key: last-sent-cache

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install chromium

      - name: Run bot
        run: python main.py

      # Cache last_sent.txt (SAVE)
      - name: Save last_sent cache
        uses: actions/cache@v4
        with:
          path: last_sent.txt
          key: last-sent-cache
